<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <meta property="og:title" content="Alma" />
    <meta property="og:description" content="Alma event management platform" />
    <meta name="description" content="Alma event management platform" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Configuration.GetSection("Public")["Origin"]/" />
    <meta property="og:image" content="@Configuration.GetSection("Public")["Origin"]/logo-256x256.png" />
</head>

<body>
    @RenderBody()
</body>

</html>
