# Ignore self
.dockerignore

# Ignore personal files such as todo lists, notes, etc.
personal/

# Ignore editor files
.vscode/
.editorconfig
.prettierrc
.priettierignore
tailwind.config.js

# Ignore binary and build related files
bin/
obj/
alma.sln

# Ignore database files
Databases/*

# Ignore .env files
.env
.env.*
!.env.example

# Ignore example files
appsettings.example.json
appsettings.Development.example.json

# Ignore git and human files
.git/
.git*
*.md
