# Ignore personal files such as todo lists, notes, etc.
Personal/

# Ignore binary and build related files
bin/
obj/
alma.sln

# Ignore database files
Databases/*
!Databases/.gitkeep

# Ignore .env files
.env
.env.*
!.env.example

# Ignore configuration files
appsettings.json
appsettings.Development.json
